  <!--================Checkout Area =================-->
  <section class="checkout_area section-margin--small">
    <div class="container">
        
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Delivery Details</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">

                        <div class="col-md-6 form-group p_star">
                            <label for="first">First Name</label>
                            <input type="text" class="form-control" id="first" name="name">                            
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="last">Last Name</label>
                            <input type="text" class="form-control" id="last" name="name">                            
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="first">Phone No.</label>
                            <input type="text" class="form-control" id="number" name="number">
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="compemailany" value="<%= current_user.email %>">
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label for="add1">Address</label>
                            <input type="text" class="form-control" id="add1" name="add1">
                            <span class="placeholder" data-placeholder="Address line 01"></span>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label for="lga">Local Government Area</label>
                            
                            <select id="lga" class="country_select">
                                <option value="1">District</option>
                                <option value="2">District</option>
                                <option value="4">District</option>
                            </select>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label for="state">State</label>
                            <select id="state" class="country_select">
                                <option value="1">Lagos</option>                                
                            </select>
                        </div>
                                               
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li><a href="#"><h4>Product <span>Total</span></h4></a></li>

                            <% for item in cart_details %>
                            <li>
                                <a href="#">
                                    <%= item.name %> 
                                    <span class="middle">x <%= session[:cart][item.id.to_s] %></span> 
                                    <span class="last">&#8358;<%= item.price * session[:cart][item.id.to_s].to_i %></span>
                                </a>
                            </li>
                            <% end %>
                            
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>&#8358;<%= cart_total %></span></a></li>
                            <li><a href="#">Delivery <span>Flat rate: &#8358;2000.0</span></a></li>
                            <li><a href="#">Total <span>&#8358;<%= cart_total + 2000 %></span></a></li>
                        </ul>
                        
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <div class="text-center">
                          <a class="button button-paypal" href="confirmation.html">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->